<form (submit)="submitTodo($event)">
  <mat-form-field>
    <input
      matInput
      name="title"
      placeholder="Type your task here!"
      ngModel
    />
    <button mat-button *ngIf="title" matSuffix mat-icon-button aria-label="Clear" (click)="title=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-button>submit</button>
</form>
