<ul>
  <mat-action-list>
    <mat-list-item *ngFor="let todo of todos">
      <span mat-list-item>{{todo.title}}</span>
      <!-- <p>{{todo.description}}</p> -->
      <button mat-button (click)='deleteTodo($event, todo.id)'>Delete</button>
      <mat-select value={{todo.priority}} (change)='updatePriority($event, todo.id)'>
        <mat-option
          *ngFor="let priority of todo.priorities"
          value={{priority}}>
          {{priority}}
        </mat-option>
      </mat-select>
    </mat-list-item>
  </mat-action-list>
  <li *ngIf="todos.length === 0">
    No todos!
  </li>
</ul>
