<mat-sidenav-container>
  <mat-grid-list cols="1">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <section class="simpletodo">
        <h1>Simple todo App using AngularJS</h1>
        <app-addtodoinput></app-addtodoinput>
        <app-todoslist></app-todoslist>
      </section>
    </mat-grid-tile>
  </mat-grid-list>
</mat-sidenav-container>
